pre {
  margin-top: 30px;
}

.t, .title, .st, .subtitle {
  font-family: Georgia, Palatino, Palatino Linotype, serif;
}

.t, .title {
  font-weight: bold;
  font-size: 150%;
}
 
.st, .subtitle {
  font-size: 120%;
}

.sot {
  font-weight: bold;
}

.soc {
  padding-left: 1em;
}

.c, .comment {
  font-family: Georgia, Palatino, Palatino Linotype, serif;
  font-style: italic;
	color: #555;
}

.chord {
  color: #CC7A00;
}

.chordDescription {
  background: #EEE;
  border: 1px solid #333;
  padding: 1em;
z-index:2;
}
