/* 
    Document   : wiki
    Created on : 13-abr-2012, 11:10:25
    Author     : 66542549
    Description:
        Purpose of the stylesheet follows.
*/

/* 
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/



body{
    background: #EEEEEE url('../img/header.jpg') repeat-x;      
}

.logo {
    display: block;
    text-indent: -100em;
    background: transparent url('../img/title.png') no-repeat;
    height: 54px;
    margin-top: 20px;
    margin-bottom: 40px;
    float:left;
    width: 400px;
}
.page-header {
    padding-bottom: 9px;
    margin: -15px 0 -10px;
    border-bottom: 1px solid #eeeeee;
}
.login{
    margin: 20px 20px 0 0;
}

.loginFormText{
    margin: 10px 0 20px 100px;
}

.userOptionsButton{
    margin: 35px 20px 0 0;
}

.clear{
    clear: both;

}

.container{
    overflow:auto;
    padding-bottom:110px; /* this needs to be bigger than footer height*/
}

.form-search{
    display: inline;
    float: right;
    position: relative;
    right: 20px;
    text-align: center;
    top: -40px;
}

.form-search-center{
    padding: 30px;
    text-align: center;

}

.hero-unit-mini
{
    padding: 30px;
    margin-bottom: 30px;
    background-color: #eeeeee;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
}
.wiki-hero-unit
{
    padding: 30px;
    background-color: #FFFFFF;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
}
.firstRightBanner{
    margin-top: -35px;
}
.text-center{
    text-align: center;
}
.formLegend{
    padding: 0 0 0 105px;
}

.error{
    color:red;
    font-style: italic;
    font-size: 1em;
}


.fieldset:after {
    background-color: #F5F5F5;
    border: 1px solid #DDDDDD;
    border-radius: 4px 0 4px 0;
    color: #9DA0A4;
    font-size: 12px;
    font-weight: bold;
    left: -1px;
    padding: 3px 7px;
    position: absolute;
    top: -1px;
}
form.fieldset {
    padding-bottom: 19px;
}
.fieldset {
    background-color: #FFFFFF;
    border: 1px solid #DDDDDD;
    border-radius: 4px 4px 4px 4px;
    margin: 15px 0;
    padding: 39px 19px 14px;
    position: relative;
}

.fieldset-newTab:after{
    content: "Nuevo Tab";
}


.fieldset-register:after{
    content: "Tus datos";
}

fieldset-editTab:after{
    content: "Editar Tab";
}

.fieldset-comment:after{
    content: "Comentario";
}
.fieldset-historyTab:after{
    content: "Historial";
}
.row{
    margin-bottom: 10px;
}

.footer
{
    text-align: center;
    position: relative;
    margin-top: -90px; /* negative value of footer height */
    height: 108px;
    clear:both;
    padding-top:20px;
    color:#fff;
    background: #EEEEEE url('../img/footer.jpg') repeat-x;      
}


.nav-tabs > .active > a, .nav-tabs > .active > a:hover {
    background-color: whitesmoke;
}

.tabbable > .nav {
    margin-top:60px;
}


.diff{
    width: 100%;
}

.diff td{
    vertical-align : top;
    white-space    : pre;
    white-space    : pre-wrap;
    font-family    : monospace;
}

.diff td{        
    padding:0 0.667em;        
    vertical-align:top;        
    white-space:pre;        
    white-space:pre-wrap;        
    font-family:Consolas,'Courier New',Courier,monospace;        
    font-size:0.75em;        
    line-height:1.333;      
}      
 

.diffDeleted span{        
    border:1px solid rgb(255,192,192);        
    background:rgb(255,224,224);      
}      

.diffInserted span{        
    border:1px solid rgb(192,255,192);        
    background:rgb(224,255,224);      
}     

#prevDiv {
    left: 10%;
    width: 80%;
    margin-left: auto;
    height: 90%;
    margin-top: 30px;
}

#prevDiv .modal-body {
    max-height: 82%;
}

#prevDiv.modal.fade.in {
    top: 0;
}

/*Fixing bootstrap to 1170 without responsive*/
 .container,
  .navbar-static-top .container,
  .navbar-fixed-top .container,
  .navbar-fixed-bottom .container {
    width: 1170px;
  }
  .span12 {
    width: 1170px;
  }
  .span11 {
    width: 1070px;
  }
  .span10 {
    width: 970px;
  }
  .span9 {
    width: 870px;
  }
  .span8 {
    width: 770px;
  }
  .span7 {
    width: 670px;
  }
  .span6 {
    width: 570px;
  }
  .span5 {
    width: 470px;
  }
  .span4 {
    width: 370px;
  }
  .span3 {
    width: 270px;
  }
  .span2 {
    width: 170px;
  }
  .span1 {
    width: 70px;
  }
  .offset12 {
    margin-left: 1230px;
  }
  .offset11 {
    margin-left: 1130px;
  }
  .offset10 {
    margin-left: 1030px;
  }
  .offset9 {
    margin-left: 930px;
  }
  .offset8 {
    margin-left: 830px;
  }
  .offset7 {
    margin-left: 730px;
  }
  .offset6 {
    margin-left: 630px;
  }
  .offset5 {
    margin-left: 530px;
  }
  .offset4 {
    margin-left: 430px;
  }
  .offset3 {
    margin-left: 330px;
  }
  .offset2 {
    margin-left: 230px;
  }
  .offset1 {
    margin-left: 130px;
  }
  

.btn-group > .btn:hover, .btn-group > .btn:focus, .btn-group > .btn:active, .btn-group > .btn.active {
    z-index: 0;
}